@import "setfuncs";

$head-bgcolor: #5b191a;
$headline-bgcolor: #c4c4c4;
$txt-bgcolor: #0e0d0d;
$txt-primary: #323232;

@mixin center-tag() {
    margin: 0 auto;
}

@mixin center-txt() {
    text-align: center;
}

@mixin hideonmobile($bool: true) {
    @if $bool {
        display: none;
    }
}


/* Apply basic html stuff, like to keep the footer down */
*  {
    @include setmp-all(0);
}

html, body {
    height: 100%;
    position: relative;
    color: $txt-primary;   
}
html {
    @include setfs(62.5%); /* Default is 10px now */
}

body {
    @include setfs(2.2rem); /* basically equals 21px now by default */
}

#main-container {
    min-height: 90vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    width: auto;
    position: relative;
    padding-bottom: 10vh; /* height of your footer */
}

footer {
    background-color: $txt-bgcolor;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Header Design */
header {
    background-color: $head-bgcolor;
    display: flex;
    @include setpadding-tb(1em, 1em);
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .header-row1 {
        width: 10%;
    }
    .header-row2 {
        width: 20%;
    }
    img {
        max-width:100%;
        margin: auto;
    }
}

/* Navbar Design */
nav {
    background-color: $txt-bgcolor;
    display: flex;
    flex-wrap: row nowrap;
    justify-content: flex-start;
    @include setpadding-tb(1vh, 2vw);
    ul {
        list-style: none;
    }
   
    li { 
        display: inline-block;
        a {
            color: white;
            text-decoration: none;
            transition: text-shadow 500ms, background-color 750ms;
            @include setpadding-tb(1vh, 2vw);
            &:hover {
                background-color: $head-bgcolor; /*rgba(255,255,255, 0.2);*/
                text-shadow: 0 0 .8px white, 0 0 .8px white;
                transition: text-shadow 200ms, background-color 300ms;
            }
            &:focus {
                text-shadow: 0 0 .8px white, 0 0 .8px white;
            }
        }
    }    

}

/* Make image zoom hover effect */ 
/*.imgzoomeffect {
    overflow: hidden;
    margin: 0 auto;
    img {
        max-width: 100%;     
        height: auto;
        object-fit: cover;
        @include settransform-scale(1,1);
        @include settransition(1000ms);
    }
    img:hover {
        @include settransition(500ms);
        @include settransform-scale(2.5, 2.5);
    }
}*/


/* For mobile phones: */
@media screen and (max-width: 480px) {
    header {
        flex-flow: column wrap;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        .header-row1 {
            @include setpadding-trbl(0.5em, 0, 0.5em, 0);
            width: 70%;
        }
        .header-row2 {
            @include hideonmobile();
        } 
    }

    nav {
        justify-content: center;       
    }
    body {
        background-color: red;
    }
    
}
/* For tablets: */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: skyblue;
    }
}

/* For desktop: */
@media screen and (min-width:1025px) {

}

