@import "setfuncs";
@import "colors";

@mixin center-tag() {
    margin: 0 auto;
}

@mixin center-txt() {
    text-align: center;
}

@mixin hideonmobile($bool: true) {
    @if $bool {
        display: none;
    }
}


/* Apply basic html stuff, like to keep the footer down */
*  {
    @include setmp-all(0);
}

html, body {
    height: 100%;
    position: relative;
    color: $txt-primary;   
}
html {
    @include setfs(62.5%); /* Default is 10px now */
}

body {
    @include setfs(2.2rem); /* basically equals 21px now by default */
}

#main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    width: auto;
    position: relative;
    padding-bottom: 60vh; /* height of your footer */
}

footer {
    background-color: $txt-bgcolor;
    color: white;
    @include setfs(1.8rem);
    @include center-txt();
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 6px solid red;
    justify-items: center;
    align-items: center;
    justify-items: center;
    place-items: center;
    .footnav {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border: 3px solid white;
    }

    .footimg {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 3px dashed white;
    }

    .foottxt {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        border: 3px dotted white;
    }
}

/*Header Design */
header {
    background-color: $head-bgcolor;
    display: flex;
    @include setpadding-tb(1em, 1em);
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    .header-row1 {
        width: 10%;
    }
    .header-row2 {
        width: 20%;
    }
    img {
        max-width:100%;
        margin: auto;
    }
}

/* Navbar Design */
nav {
    background-color: $txt-bgcolor;
    display: flex;
    flex-wrap: row nowrap;
    justify-content: flex-start;
    @include setpadding-tb(1vh, 2vw);
    ul {
        list-style: none;
    }
   
    li { 
        display: inline-block;
        a {
            color: white;
            text-decoration: none;
            transition: text-shadow 500ms, background-color 750ms;
            @include setpadding-tb(1vh, 1vw);
            &:hover {
                background-color: $head-bgcolor; /*rgba(255,255,255, 0.2);*/
                text-shadow: 0 0 .8px white, 0 0 .8px white;
                transition: text-shadow 200ms, background-color 300ms;
            }
            &:focus {
                text-shadow: 0 0 .8px white, 0 0 .8px white;
            }
        }
    }    

}


/* For mobile phones: */
@media screen and (max-width: 480px) {
    header {
        flex-flow: column wrap;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        .header-row1 {
            @include setpadding-trbl(0.5em, 0, 0.5em, 0);
            width: 70%;
        }
        .header-row2 {
            @include hideonmobile();
        } 
    }

    nav {
        justify-content: center;       
    }
    body {
        background-color: red; /*testing purpose */
    }

    footer {
        @include setfs(1.5rem);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
        border: 4px solid blue;
        @include setpadding-tb(1em,0);
        .footnav {
            grid-column: 1 / 1;
            grid-row: 2 / 3;
        }
    
        .footimg {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
        }
    
        .foottxt {
            grid-column: 1 / 1;
            grid-row: 3 / 3;
        }
    }   
    
}

/* For tablets: */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: skyblue; /*testing purpose */
    }

    nav {
        justify-content: center;       
    }

    header {
        flex-flow: column nowrap;
        .header-row1 {
            width: 50%;
            @include setpadding-tb(0.5em,0);
        }
        .header-row2 {
            width: 50%;
            @include setpadding-tb(0.5em,0);
        }
    } 

    footer {
        font-size: 1.6rem;
    }
}

/* For desktop: */
/*@media screen and (min-width:1025px) {
Should've started with mobile first and worked my way up, but well, for next time!
}*/

