/* Apply basic html stuff, like to keep the footer down */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: relative;
  color: #323232;
}

html {
  font-size: 62.5%;
  /* Default is 10px now */
}

body {
  font-size: 2.2rem;
  /* basically equals 21px now by default */
}

#main-container {
  min-height: 90vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  width: auto;
  position: relative;
  padding-bottom: 10vh;
  /* height of your footer */
}

footer {
  background-color: #0e0d0d;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Header Design */
header {
  background-color: #5b191a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .header-row1 {
  width: 10%;
}

header .header-row2 {
  width: 20%;
}

header img {
  max-width: 100%;
  margin: auto;
}

/* Navbar Design */
nav {
  background-color: #0e0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row nowrap;
      flex-wrap: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1vh 2vw;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  -webkit-transition: text-shadow 500ms, background-color 750ms;
  transition: text-shadow 500ms, background-color 750ms;
  padding: 1vh 2vw;
}

nav li a:hover {
  background-color: #5b191a;
  /*rgba(255,255,255, 0.2);*/
  text-shadow: 0 0 .8px white, 0 0 .8px white;
  -webkit-transition: text-shadow 200ms, background-color 300ms;
  transition: text-shadow 200ms, background-color 300ms;
}

nav li a:focus {
  text-shadow: 0 0 .8px white, 0 0 .8px white;
}

/* Make image zoom hover effect */
/*.imgzoomeffect {
    overflow: hidden;
    margin: 0 auto;
    img {
        max-width: 100%;     
        height: auto;
        object-fit: cover;
        @include settransform-scale(1,1);
        @include settransition(1000ms);
    }
    img:hover {
        @include settransition(500ms);
        @include settransform-scale(2.5, 2.5);
    }
}*/
/* For mobile phones: */
@media screen and (max-width: 480px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align horizontal */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* align vertical */
  }
  header .header-row1 {
    padding: 0.5em 0 0.5em 0;
    width: 70%;
  }
  header .header-row2 {
    display: none;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body {
    background-color: red;
  }
}

/* For tablets: */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: skyblue;
  }
}

/* For desktop: */
/*# sourceMappingURL=style.css.map */